$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-e-wind: "\e900";
$icon-ne-wind: "\e901";
$icon-n-wind: "\e902";
$icon-nw-wind: "\e903";
$icon-se-wind: "\e904";
$icon-s-wind: "\e905";
$icon-sw-wind: "\e906";
$icon-w-wind: "\e907";
$icon-reload: "\e908";
$icon-left-arrow: "\e909";
$icon-right-arrow: "\e90a";

