@import "_fonts";
@import "_style-reset";
@import "_variables";
@import "_weather-icons";

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

body {
	font-family: "RobotoMono";
	color: $fontLightColor;
}

button {
	background: none;
}

.comma {
	&::before {
		content: ",";
		padding-right: 0.25em;
	}
}

.colon {
	&::before {
		content: ":";
	}
}

.whitespace {
	&::before {
		content: "\00a0";
	}
}

.rotating {
	animation: rotation 1s linear infinite;
}

.main {
	position: relative;
}

.background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	transition: background-image ease-in-out 0.5s 0s;

	// .background__filter
	&__filter {
		width: 100%;
		height: 100%;
		background: url("../img/filter.png") center / cover;
	}
}

.content {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	max-width: 100vw;
	max-height: 100vh;
	width: 100vw;
	height: 100vh;
	text-align: center;

	// .content__top
	&__top {
		display: flex;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 10;
	}

	// .content__main
	&__main {
		flex: 1 1;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	// .content .button
	& .button {
		width: 100%;
		height: 100px;
	}

	// .content__left-aside & .content__right-aside
	&__left-aside,
	&__right-aside {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100px;
		height: 100%;
	}

	// .content__left-aside
	&__left-aside {
	}

	// .content__center
	&__center {
		position: relative;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex: 1 1;
	}

	// .content__right-aside
	&__right-aside {
	}

	// .content__bottom
	&__bottom {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 100%;
		bottom: 10px;
	}
}

.top {
	// top__spacer
	&__spacer {
		flex: 1 1;
	}

	// top__weather
	.weather {
		width: 100px;
	}
}

.button {
	cursor: pointer;
	transition: all ease 0.3s 0s;
	background-color: $onHoverColor;
	color: $fontDarkColor;

	// .button__image
	&__image {
		transition: all ease 0.3s 0s;
		opacity: 0.6;
		height: 100%;
		width: 100%;
	}

	&:active {
		.button__image {
			opacity: 0.8;
		}
	}
}

.prev-image-button,
.next-image-button {
	opacity: 0;

	&:hover {
		opacity: 1;
	}
}

.prev-image-button {
	border-radius: 0 25% 25% 0;
}

.next-image-button {
	border-radius: 25% 0 0 25%;
}

.center {
	// .center__top && .center__bottom
	&__top,
	&__bottom {
		flex: 1 1 50%;
	}

	// .center__top
	&__top {
	}

	// .center__middle
	&__middle {
	}

	// .center__date-time
	&__date-time {
		margin-bottom: 70px;
	}

	// .center__time
	&__time {
		margin-bottom: 10px;
	}

	// .center__date
	&__date {
	}

	// .center__greeting
	&__greeting {
		margin-bottom: 15px;
	}

	// .center__focus
	&__focus {
		width: 100%;
	}
}

.time {
	// .time__content
	&__content {
		display: flex;
		justify-content: center;
		font-size: 100px;
		font-weight: 700;
	}

	// .time__hours
	&__hours {
		transition: all ease-in-out 0.2s 0s;
	}

	// .time__separator
	&__separator {
		margin: 0px -10px;
	}

	// .time__minutes
	&__minutes {
		transition: all ease-in-out 0.2s 0s;
	}

	// .time__seconds
	&__seconds {
		transition: all ease-in-out 0.2s 0s;
	}
}

.date {
	// .date__content
	&__content {
		display: flex;
		justify-content: center;
		font-size: 50px;
		font-weight: 700;
	}

	// .date__day-of-week
	&__day-of-week {
	}

	// .date__separator
	&__separator {
	}

	// .date__month
	&__month {
	}

	// .date__day-of-month
	&__day-of-month {
	}
}

.greeting__name,
.focus__content {
	min-width: 20px;
	max-width: 50%;
	scrollbar-width: none;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: auto;
	transition: all ease 0.3s 0s;

	&:focus {
		background-color: $onEditColor;
	}

	&::-webkit-scrollbar {
		display: none;
	}
}

.greeting {
	// .greeting__total
	&__total {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		line-height: 120%;
		font-size: 40px;
	}

	// .greeting__phrase
	&__phrase {
	}

	// .greeting__separator
	&__separator {
	}

	// .greeting__name
	&__name {
	}
}

.username {
}

.editable {
	cursor: pointer;
}

.focus {
	font-size: 30px;
	font-weight: 500;

	// .focus__question
	&__question {
		line-height: 150%;
	}

	// .focus__content
	&__content {
		display: inline-block;
		line-height: 150%;
		border-bottom: 1px solid black;
	}
}

.bottom {
	// .bottom__quote-author-area
	&__quote-author-area {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
	}

	// .bottom__quote
	&__quote {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50%;

		// .bottom__quote .quote__content
		& .quote__content {
			transition: all ease 1s 0.1s;
		}

		// .bottom__quote .quote__author
		& .quote__author {
			transition: all ease 0.5s 0.1s;
			font-size: 0;
			opacity: 0;
		}

		&:hover {
			& .quote__content {
				margin-bottom: 5px;
			}

			& .bottom__quote-author-area {
				& .quote__author {
					font-size: 80%;
					opacity: 0.8;
				}

				& #quote-reload-button {
					width: 24px;
					height: 24px;
					opacity: 1;
				}
			}
		}
	}
}

#quote-reload-button {
	flex: none;
	margin-left: 10px;
	border-radius: 50%;
	width: 0;
	height: 0;
	font-size: 0;
	opacity: 0;
	transition: all ease 0.5s 0.1s;

	& .button__image {
		width: 75%;
		height: 75%;
	}
}

.quote {
	font-size: 16px;

	// .quote__content
	&__content {
	}

	// .quote__author
	&__author {
	}
}
